@import "tailwindcss";

@theme {
    --color-primary: #A61933;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101922;

    --font-display: "Manrope", "sans-serif";
    --font-body: "Noto Sans", "sans-serif";
}

@layer base {
    a {
        @apply text-primary hover:opacity-80 transition-opacity;
    }
}